.content-wrapper {
    display: flex;
    overflow-y: auto;
    height: 90vh;
}

#content {
    overflow: scroll;
    width: 100%;
    padding-top: 130px;
    margin-top: 20px;
}
#content main {
	width: 100%;
    padding: 20px 10%;
    font-family: var(--poppins);
}
.top-section {
    color: var(--font-color);
	p {
		width: 50%;
        height: 200px;
	}
}

@media screen and (max-width: 768px) {
    .content-wrapper{
        flex-direction: column;
    }
    #sidebar {
        width: 100% !important;
    }
    .hide {
        display: none;
        transition: 3s ease;
    }
    .top-section {
        p {
            width: 100%;
        }
    }
	
}